<!--<body>
    <p>Hi {{firstName}},</p>
    <p>Welcome to MyNightOut. Along with being a directory of all the best area restaurants, bars and entertainment, MyNightOut
        also allows you to select your favorites by clicking on the heart symbol on the business profile page. You will then
        be able to receive notifications from your favorites of all the specials and events they have scheduled. You will
        also be able to save coupons and make reservations. Upload your photo to make your profile even more personal</p>
    <p>Thanks for joining. We hope you enjoy a better night out using MyNightOut.</p>
    <p>-Team MyNightOut
    </p>
</body>-->